.about {
  min-height: 75rem;
  width: 100%;
  padding: 20rem 0;
  position: relative;
  .styleelement {
    z-index: 1;
  }

  *:not(.styleelement) {
    z-index: 2;
  }

  &-bg {
    position: absolute;
    z-index: -1 !important;
    &1 {
      top: 35%;
      width: 60%;
      right: -10%;
      z-index: 1 !important;
      @include laptop {
        width: 100%;
        right: 0;
      }
    }
    &2 {
      top: 60%;
      width: 85%;
      right: -5%;
      @include laptop {
        width: 100%;
        right: 0;
      }
    }
    &3 {
      left: 0;
      top: 70%;
      z-index: -1;
      width: 80%;
      @include laptop {
        width: 100%;
      }
    }
  }

  .circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;

    &-pink1 {
      top: -10%;
      right: -5%;
      background: radial-gradient(rgba($accent-pink, 0.1), rgba($accent-pink, 0.06), rgba($accent-pink, 0.04), transparent 80%);
    }
    &-pink2 {
      height: 600px;
      width: 600px;
      bottom: 5%;
      left: 25%;
      background: radial-gradient(rgba($accent-pink, 0.1), rgba($accent-pink, 0.06), rgba($accent-pink, 0.04), transparent 80%);
    }
    &-blue1 {
      top: 15%;
      left: 5%;
      background: radial-gradient(rgba($accent-blue, 0.1), rgba($accent-blue, 0.06), transparent 80%);
    }
  }

  .shape {
    position: absolute;
    top: 5%;
    right: 3%;
    width: 100px;
  }

  .curve {
    position: absolute;
    top: 250px;
    left: 8%;
    width: 14px;
    @include tablet {
      width: 8px;
    }
  }

  .zigzag {
    width: 35px;
    position: absolute;
    top: 8%;
    right: 2.5%;
  }

  .triangle {
    position: absolute;
    top: 750px;
    width: 25px;
    opacity: 0.4;
    right: 220px;
  }

  &-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    @include tablet {
      width: 80%;
    }
  }

  .business {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    @include tablet {
      max-width: 100%;
      padding: 0;
    }

    .card {
      min-height: 33rem;
      max-width: 26rem;
      margin: 20px 10px;
      border-radius: 15px;
      padding: 20px;
      @include tablet {
        min-height: 30rem;
        max-width: 24rem;
      }
      &.border {
        &-pink {
          border: 6px solid rgba($accent-pink, 0.4);
        }
        &-green {
          border: 6px solid rgba($accent-green, 0.4);
        }
        &-orange {
          border: 6px solid rgba($accent-orange, 0.4);
        }
      }

      &-body {
        @include flexcolumnevenly;
        text-align: center;
      }

      &-img {
        max-width: 60px;
        margin-bottom: 1.5rem;
        @include tablet {
          max-width: 45px;
        }
      }
      &-title {
        font-size: size(lg) - 0.4rem;
        font-weight: 800;
        @include tablet {
          font-size: size(md);
        }
      }
      &-text {
        font-size: size(sm);
        font-weight: 600;
        color: $grey;
        @include tablet {
          font-size: size(sm) - 0.2rem;
        }
      }
    }
  }
}

.team {
  padding: 20px 0 10px;
  min-height: 50rem;
  @include flexrowcenter;
  &-left {
    padding: 20px 0;
    @include flexcolumnstart;
    @include laptop {
      text-align: center;
      align-items: center;
    }

    p {
      font-size: size(sm) - 0.1rem;
      color: $grey;
      margin: 5px 0;
      width: 80%;
      &:first-of-type {
        font-size: size(sm) + 0.1rem;
      }
      @include tablet {
        text-align: left;
      }
    }

    .cta-btn2 {
      @extend %cta-btn2;
      text-transform: uppercase;
      margin: 20px 0 0;
      font-size: size(sm) - 0.3rem;
    }
  }

  &-right {
    height: 420px;
    margin: 20px 0;
    @include laptop {
      height: 240px;
    }
    .team-container {
      height: 100%;
      width: 100%;
      position: relative;
      .innovate {
        position: absolute;
        height: 26rem;
        width: 26rem;
        max-width: 100%;
        @include laptop {
          height: 18rem;
          width: 18rem;
        }
        @include mobile {
          height: 14rem;
          width: 14rem;
        }
        &-1 {
          top: 0%;
          left: 40%;
          transform: translateX(-65%);
        }
        &-2 {
          bottom: 0%;
          left: 60%;
          transform: translateX(-35%);
        }
      }
      .shape {
        position: absolute;
        height: 45px;
        width: 45px;
        top: 85%;
        left: 25%;
        @include laptop {
          height: 3rem;
          width: 3rem;
          left: 40%;
        }
        @include mobile {
          left: 24%;
        }
      }
    }
  }
}
/********** Trust End*********/
