.blog {
  min-height: 50rem;
  width: 100%;
  background-color: rgba($overlay-2, 0.85);
  position: relative;
  padding: 9rem 0;
  z-index: 1;

  .z-index-1 {
    z-index: -1;
  }

  .circle {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    &-pink1 {
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      background: radial-gradient(rgba($accent-pink, 0.1), rgba($accent-pink, 0.06), rgba($accent-pink, 0.04), transparent 80%);
    }
    &-pink2 {
      top: 45%;
      left: 70%;
      background: radial-gradient(rgba($accent-pink, 0.1), rgba($accent-pink, 0.06), rgba($accent-pink, 0.04), transparent 80%);
    }
    &-blue1 {
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      background: radial-gradient(rgba($accent-blue, 0.1), rgba($accent-blue, 0.05), transparent 80%);
    }
    &-blue2 {
      top: 50%;
      left: 10%;
      background: radial-gradient(rgba($accent-blue, 0.1), rgba($accent-blue, 0.05), transparent 80%);
    }
  }

  .arrow {
    position: absolute;
    max-width: 2.3rem;
    top: 65%;
    left: 3%;
  }

  .triangle {
    position: absolute;
    max-width: 3rem;
    top: 44%;
    right: 6.5%;
    transform: rotate(-80deg);
  }

  .zigzag {
    position: absolute;
    max-width: 4rem;
    top: 15%;
    left: 6%;
  }

  .square {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border: 4px solid $accent-green;
    bottom: -1rem;
    right: 15%;
    z-index: -1;
    transform: rotate(55deg);
  }

  .curve {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 1rem;
  }

  &-title {
    width: 80%;
    margin: 0 auto;
    @include tablet {
      width: 95%;
    }
    &-sub {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      h3 {
        width: calc(100% - 7rem);
        @include mobile {
          width: 100%;
          margin: 1rem 0;
        }
      }
      .sub-title {
        @extend %sub-text;
        width: 6.7rem;
        margin: 1rem 0;
        @include mobile {
          align-self: flex-end;
        }
      }
    }
  }

  &-content {
    min-height: 40rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  &-card {
    cursor: pointer;
    border-radius: 2rem;
    margin: 1rem;
    padding: 2.5rem 2rem;
    min-height: 27rem;
    max-width: 27rem;
    background-color: transparent;
    border: 1px solid rgba($grey, 0.2);
    &.active,
    &:hover {
      transition: all 0.3s ease-in-out;
      border: white;
      background-color: #fff;
    }
    &-title {
      font-size: size(sm) - 0.2rem;
      font-weight: 800;
      &-pink {
        color: $accent-pink;
      }
      &-green {
        color: $accent-green;
      }
      &-orange {
        color: $accent-orange;
      }
    }
    &-subtitle {
      font-size: size(sm) 0.1rem;
      font-weight: 800;
      margin: 1rem 0;
    }
    &-text {
      margin: 2rem 0;
      font-size: size(sm) - 0.25rem;
    }
    &-sub {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-image {
        img {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }
        span {
          margin: auto 5px;
          font-weight: 800;
          font-size: size(sm) - 0.15rem;
        }
      }
      &-icon {
        span {
          margin: 0 2px;
          font-size: size(sm) - 0.3rem;
          color: $grey2;
        }
      }
    }
  }
}
