/********** Hero header *********/
.header {
  height: 100%;
  width: 100%;
  position: relative;
  //Navbar
  .navbar {
    padding: 10px;
    &.show {
      background-color: $overlay-2;
    }
    > .container {
      width: 920px;
    }
    &-brand {
      img {
        height: 26px;
      }
    }
    &-toggler {
      border: none;
      box-shadow: none;
      &-icon {
        font-size: 1.8rem;
      }
    }
  }

  // Nav Links
  .nav-item {
    padding: 10px;
  }
  .nav-link {
    text-align: center;
    color: $black;
    text-transform: capitalize;
    font-weight: weight(semi);
    font-size: size(sm);
    &:not(.active) {
      color: $black;
    }
  }
  .cta-btn1 {
    display: inline-block;
    text-decoration: none;
    font-size: size(sm) - 0.2rem;
    padding: 5px 25px 4px;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    border: 2px solid $primary-color;
    font-weight: weight(bold);
    color: $black;
    &:hover {
      transition: background-color 0.3s ease-in, color 0.2s ease-in-out;
      color: $white;
      background-color: $primary-color;
    }
  }
  .icons {
    margin: auto 10px;
    @include flexrowcenter;
    &-item {
      margin: 0 8px;
    }
    &-link {
      color: $black;
      .fab {
        font-size: size(sm) + 0.2rem;
        &.fb {
          color: $icon-fb;
        }
        &.tw {
          color: $icon-tw;
        }
        &.yt {
          color: $icon-yt;
        }
        &.ig {
          color: $icon-ig;
        }
      }
    }
  }
}
/********** Hero header End *********/

/********** Hero Content *********/
.hero {
  min-height: 100vh;
  padding: 60px 0;
  background: rgba($hero-bg, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;

  &-left {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
      text-align: center;
    }
    h1 {
      font-size: 6.6rem;
      font-weight: weight(bolder);
      @include laptop {
        font-size: 4.6rem;
      }
      @include tablet {
        font-size: size(xl);
      }
    }
    p {
      font-size: size(md) - 0.1rem;
      color: $grey;
      margin: 10px 0 20px;
      @include laptop {
        font-size: size(sm);
      }
      @include tablet {
        font-size: size(sm) - 0.2rem;
      }
    }
    .cta-btn2 {
      @extend %cta-btn;
      @include tablet {
        margin: {
          left: auto;
          right: auto;
        }
      }
    }
  }
  &-right {
    @include tablet {
      text-align: center;
    }
    img {
      max-height: 500px;
      @include tablet {
        max-height: 200px;
      }
    }
  }
}
/********** Hero Content End *********/

/********** Style Elements*********/
.element {
  height: 100%;
  width: 100%;
  > * {
    z-index: 1;
    @include tablet {
      z-index: -1;
    }
  }
  .zigzag {
    position: absolute;
    height: auto;
    &:nth-child(1) {
      top: 15%;
      left: 2%;
      width: 30px;
    }
    &:nth-child(2) {
      top: 46%;
      left: 47%;
      width: 25px;
      transform: rotate(125deg);
    }
    &:nth-child(3) {
      top: 16%;
      right: 20%;
      width: 35px;
    }
  }

  .curve {
    position: absolute;
    bottom: 10%;
    right: 7%;
    height: 25px;
    transform: rotate(90deg);
  }

  .shape {
    position: absolute;
    height: auto;
    &-1 {
      width: 100px;
      top: 10%;
      right: 8%;
    }
    &-2 {
      width: 90px;
      bottom: 15%;
      left: 4%;
    }
  }

  .line {
    height: 5px;
    width: 30px;
    position: absolute;
    top: 40%;
    left: 8%;
    transform: rotate(-40deg);
    background-color: $accent-orange;
    border-radius: 10px;
  }

  .star {
    position: absolute;
    font-size: 1.2rem;
    color: rgba($black, 0.2);
    &-1 {
      top: 10%;
      left: 5%;
    }
    &-2 {
      top: 33%;
      left: 8%;
    }
    &-3 {
      bottom: 10%;
      left: 8%;
    }
    &-4 {
      top: 15%;
      left: 37%;
    }
    &-5 {
      top: 18%;
      left: 62%;
    }
    &-6 {
      top: 23%;
      right: 17%;
    }
    &-7 {
      top: 6%;
      right: 10%;
    }
    &-8 {
      top: 35%;
      right: 4%;
    }
    &-9 {
      bottom: 25%;
      right: 54%;
    }
    &-10 {
      bottom: 16%;
      right: 32%;
    }
    &-11 {
      bottom: 46%;
      left: 13%;
    }
  }

  .circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    &-pink1 {
      top: -15%;
      left: -5%;
      background: radial-gradient(rgba($accent-pink, 0.5), rgba($accent-pink, 0.3), rgba($accent-pink, 0.05), transparent);
    }
    &-pink2 {
      top: 50%;
      left: 60%;
      background: radial-gradient(rgba($accent-pink, 0.5), rgba($accent-pink, 0.3), rgba($accent-pink, 0.05), transparent);
    }
    &-pink3 {
      top: 45%;
      left: 40%;
      background: radial-gradient(rgba($accent-pink, 0.5), rgba($accent-pink, 0.3), rgba($accent-pink, 0.05), transparent);
    }
    &-blue1 {
      top: 15%;
      left: 5%;
      background: radial-gradient(rgba($accent-blue, 0.3), rgba($accent-blue, 0.05), transparent);
    }
    &-blue2 {
      bottom: -15%;
      right: -5%;
      background: radial-gradient(rgba($accent-blue, 0.3), rgba($accent-blue, 0.05), transparent);
    }
    &-blue3 {
      bottom: -5%;
      left: -5%;
      background: radial-gradient(rgba($accent-blue, 0.5), rgba($accent-blue, 0.3), rgba($accent-blue, 0.05), transparent);
    }
    &-purple {
      top: -10%;
      right: -5%;
      background: radial-gradient(rgba($primary-color, 0.5), rgba($primary-color, 0.3), rgba($primary-color, 0.05), transparent);
    }
  }

  .ring {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    left: 40%;
    border: 4px solid $accent-green;
    background-color: transparent;
  }

  .square {
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: transparent;
    transform: rotate(-25deg);
    &-1 {
      top: 20%;
      right: 50%;
      border: 4px solid $accent-pink;
    }
    &-2 {
      top: 30%;
      right: 4%;
      border: 4px solid $accent-orange;
    }
  }

  .triangle {
    position: absolute;
    &-1 {
      width: 15px;
      bottom: 31%;
      left: 6%;
    }
    &-2 {
      width: 30px;
      bottom: 19%;
      right: 4%;
      opacity: 0.7;
      transform: rotate(-120deg);
    }
    &-3 {
      width: 25px;
      top: 11%;
      right: 7.5%;
      opacity: 0.7;
      transform: rotate(-57deg);
    }
  }

  .arrow {
    position: absolute;
    width: 25px;
    bottom: 21%;
    left: 8.7%;
  }
}
/********** Style Elements*********/

/********** Trust *********/
.trust {
  min-height: 100vh;
  width: 100%;
  padding: 10% 0 5%;
  position: relative;
  background-color: rgba($white, 0.7);

  .circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;

    &-pink1 {
      top: -10%;
      right: -5%;
      background: radial-gradient(rgba($accent-pink, 0.5), rgba($accent-pink, 0.3), rgba($accent-pink, 0.05), transparent);
    }
    &-pink2 {
      height: 600px;
      width: 600px;
      bottom: 5%;
      left: 25%;
      background: radial-gradient(rgba($accent-pink, 0.4), rgba($accent-pink, 0.3), rgba($accent-pink, 0.05), transparent);
    }
    &-blue1 {
      top: 15%;
      left: 5%;
      background: radial-gradient(rgba($accent-blue, 0.3), rgba($accent-blue, 0.05), transparent);
    }
  }

  .shape {
    position: absolute;
    top: 5%;
    right: 3%;
    width: 100px;
  }

  .curve {
    position: absolute;
    top: 250px;
    left: 8%;
    width: 15px;
  }

  .zigzag {
    width: 35px;
    position: absolute;
    top: 8%;
    right: 2.5%;
  }

  .triangle {
    position: absolute;
    top: 750px;
    width: 25px;
    opacity: 0.4;
    right: 220px;
  }

  &-title {
    h2 {
      text-align: center;
      color: $primary-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: weight(bolder);
      font-size: size(md);
    }
    h3 {
      font-size: 5rem;
      width: 55%;
      margin: 20px auto;
      font-weight: weight(bolder);
      text-align: center;
      @include tablet {
        font-size: 3rem;
        width: 90%;
      }
    }
  }

  .business {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    @include laptop {
      max-width: 100%;
      padding: 0;
    }

    .card {
      min-height: 35rem;
      max-width: 28rem;
      margin: 20px 10px;
      border-radius: 15px;
      padding: 30px;

      &.border {
        &-pink {
          border: 6px solid rgba($accent-pink, 0.4);
        }
        &-green {
          border: 6px solid rgba($accent-green, 0.4);
        }
        &-orange {
          border: 6px solid rgba($accent-orange, 0.4);
        }
      }

      &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
      }

      &-img {
        max-width: 60px;
      }
      &-title {
        font-size: size(md) + 0.2rem;
        font-weight: weight(bolder);
      }
      &-text {
        font-size: size(sm);
        font-weight: weight(bold);
        color: $grey;
      }
    }
  }
}

.team {
  padding: 20px 0 10px;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &-left {
    padding: 20px 0;
    @include flexcolumncenter;
    align-items: flex-start;
    @include tablet {
      text-align: center;
      align-items: center;
    }
    h2 {
      font-weight: weight(bolder);
      font-size: 4.6rem;
      @include tablet {
        font-size: size(lg) + 0.2rem;
      }
    }
    p {
      font-size: size(sm);
      color: $grey;
      margin: 10px 0;
      width: 80%;
    }
    .cta-btn2 {
      @extend %cta-btn;
      text-transform: uppercase;
      margin: 20px 0 0;
      font-size: size(sm) - 0.3rem;
    }
  }

  &-right {
    height: 60vh;
    padding: 0 20px;
    .team-image {
      position: relative;
      height: inherit;
      width: 100%;
      &-1,
      &-2 {
        padding: 10px;
        height: 50%;
        width: 50%;
        position: absolute;
        @include mobile {
          width: 70%;
        }
        img {
          height: 125%;
          width: 100%;
          object-fit: cover;
          object-position: left;
          @include tablet {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
      &-1 {
        filter: url('#goo');
        top: 20%;
        left: 1%;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
        img {
          height: 100%;
          object-position: right;
          width: 100%;
        }
        @include mobile {
          top: 0;
        }
      }
      &-2 {
        filter: url('#goo');
        bottom: 20%;
        right: 1%;
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
        @include mobile {
          bottom: 0;
        }
      }
    }
  }

  .box {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: $accent-pink;
    bottom: 18%;
    left: 40%;
    border-radius: 2px;
    clip-path: polygon(9% 0, 100% 0, 100% 100%, 27% 100%);
    @include mobile {
      height: 20px;
      width: 20px;
      left: 10%;
      bottom: 1%;
    }
  }
}
/********** Trust End*********/
