// Main Colors
$primary-color: #c04ae2;
$accent-blue: #00aeef;
$accent-orange: #ff9b32;
$accent-pink: #ff6687;
$accent-green: #00c6b5;
$accent-purple: #ecc8f6;
// Background and Text
$black: #111111;
$white: #fdfdfc;
$grey: #696969;
$hero-bg: #ebeafa;
// Icons Color
$icon-fb: #3b5998;
$icon-tw: #1da1f2;
$icon-yt: #ff1e00;
$icon-ig: #e16353;

// Overlay color
$overlay-2: #edeef6;

// Font
$font-size: (
  'xl': 3rem,
  'lg': 2.5rem,
  'md': 2rem,
  'sm': 1.5rem,
);

// Queries
$mobile: 480px;
$tablet: 768px;

// Functions

@function size($size) {
  @return map-get($font-size, $size);
}

// Flex Box

@mixin flexcolumnstart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexcolumncenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexcolumnevenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flexrowstart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexrowcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexrowend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexrowbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexrowaround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Queries
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
