.work {
  min-height: 100vh;
  width: 100%;
  background-color: rgba($overlay-3, 0.8);
  position: relative;
  z-index: 1;
  padding : {
    top: 8rem;
    bottom: 8rem;
  }

  &-element {
    z-index: -1;
  }

  &-bg {
    z-index: -1;
    position: absolute;
    &1 {
      height: 80%;
      width: 100%;
      top: 0%;
      left: 0;
    }
    &2 {
      height: 40%;
      width: 50%;
      bottom: 0;
      right: 0;
    }
  }

  .shape {
    position: absolute;
    max-width: 10rem;
    &-1 {
      top: 8%;
      left: 4%;
    }
    &-2 {
      bottom: 3rem;
      right: 4rem;
    }
  }

  .square {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border: 4px solid;
    &-1 {
      top: 7.9%;
      left: 9.8%;
      border-color: $accent-blue;
      transform: rotate(20deg);
    }
    &-2 {
      border-color: #03c403;
      transform: rotate(-20deg);
      top: 60%;
      left: 5%;
    }
  }

  .triangle {
    position: absolute;
    max-width: 3rem;
    right: 8%;
    top: 40%;
  }

  .circle {
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 5px solid #fd5c2b;
    right: 10rem;
    bottom: 9.8rem;
  }

  &-title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    z-index: 200 !important;
    h3 {
      margin: 20px 0;
    }
    @include laptop {
      width: 100%;
    }
  }

  .problem {
    &-row {
      @include flexrowcenter;
      margin: 2rem 0;
      padding: 2rem 1rem;
    }
    &-image {
      height: auto;
      max-width: 29rem;
      @include mobile {
        padding: 1rem 2.5rem;
      }
    }
    &-main {
      .problem-title {
        margin: 2rem 0;
        font-size: size(md) - 0.1rem;
        font-weight: 800;
        &-pink {
          color: $accent-pink;
        }
        &-green {
          color: $accent-green;
        }
        &-orange {
          color: $accent-orange;
        }
      }
      h3 {
        font-weight: 800;
        margin: 1rem 0;
        font-size: size(md);
      }
      p {
        font-size: size(sm) - 0.1rem;
        margin: 1rem 0;
      }
      .cta-btn1 {
        @extend %cta-btn1;
        padding: 0.8rem 2.5rem;
      }
    }
  }
  .sub-text {
    text-align: center;
    margin: 5rem 0 2rem;
    &-1 {
      @extend %sub-text;
    }
  }
}
