@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 10px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  background-color: rgba(237, 238, 246, 0.2);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.purple-title {
  margin: 10px 0;
  color: #c04ae2;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .purple-title {
    font-size: 1.5rem;
  }
}

.black-title, .service-column .card-title {
  color: #111111;
  font-size: 4.5rem;
  font-weight: 800;
  margin: 2rem auto;
}

@media screen and (max-width: 1023px) {
  .black-title, .service-column .card-title {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 767px) {
  .black-title, .service-column .card-title {
    font-size: 2.7rem;
  }
}

.header .cta-btn1, .work .problem-main .cta-btn1 {
  color: #111111;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 3px;
  font-size: 1.35rem;
  text-align: center;
  font-weight: 800;
  border-radius: 5px;
  border: 2px solid #c04ae2;
}

.header .cta-btn1:hover, .work .problem-main .cta-btn1:hover {
  color: #fdfdfc;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c04ae2;
}

.hero-left .cta-btn2, .team-left .cta-btn2, .contact-content-left .cta-btn2 {
  color: #fdfdfc;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: rgba(192, 74, 226, 0.9);
  -webkit-box-shadow: 0 2px 5px 1px rgba(17, 17, 17, 0.2);
          box-shadow: 0 2px 5px 1px rgba(17, 17, 17, 0.2);
}

.hero-left .cta-btn2:hover, .team-left .cta-btn2:hover, .contact-content-left .cta-btn2:hover {
  background-color: #c04ae2;
}

.work .sub-text-1, .blog-title-sub .sub-title {
  display: inline-block;
  position: relative;
  color: #111111;
  font-size: 1.3rem;
  font-weight: 800;
}

.work .sub-text-1::after, .blog-title-sub .sub-title::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -2px;
  height: 2px;
  border-radius: 10px;
  background-color: #c04ae2;
}

/********** Hero header *********/
.header {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header .navbar {
  padding: 1rem;
}

.header .navbar.show {
  background-color: rgba(237, 238, 246, 0.9);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.header .navbar > .container {
  max-width: 950px;
}

.header .navbar-brand img {
  height: 28px;
}

.header .navbar-toggler {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .navbar-toggler-icon {
  font-size: 1.8rem;
}

.header .nav-item {
  margin: 5px;
}

.header .nav-link {
  color: #111111;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5rem;
}

.header .nav-link:not(.active) {
  color: #111111;
}

.header .cta-btn1 {
  margin-top: 0;
}

.header .icons {
  margin: auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .icons-item {
  margin: 5px 7px;
}

@media screen and (max-width: 767px) {
  .header .icons-item {
    margin: 1rem 1.5rem;
  }
}

.header .icons-link .fab {
  font-size: 1.6rem;
}

.header .icons-link .fab.fb {
  color: #3b5998;
}

.header .icons-link .fab.tw {
  color: #1da1f2;
}

.header .icons-link .fab.yt {
  color: #ff1e00;
}

.header .icons-link .fab.ig {
  color: #e16353;
}

/********** Hero header End *********/
/********** Hero Content *********/
.hero {
  min-height: 75.5rem;
  padding: 6rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    min-height: 100vh;
  }
}

.hero > * {
  z-index: 2;
}

.hero-left {
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .hero-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero-left-title {
  font-size: 5.8rem;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .hero-left-title {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-left-title {
    font-size: 3rem;
  }
}

.hero-left-subtitle {
  font-size: 1.9rem;
  color: #696969;
  margin: 10px 0 20px;
}

@media screen and (max-width: 767px) {
  .hero-left-subtitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-left-subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .hero-left .cta-btn2 {
    font-size: 1.2rem;
  }
}

.hero-right img {
  max-height: 500px;
}

/********** Hero Content End *********/
/********** Style Elements*********/
.element {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(235, 234, 250, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.element .zigzag {
  position: absolute;
  height: auto;
}

.element .zigzag:nth-child(1) {
  top: 15%;
  left: 2%;
  width: 30px;
}

.element .zigzag:nth-child(2) {
  top: 46%;
  left: 47%;
  width: 25px;
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
}

.element .zigzag:nth-child(3) {
  top: 16%;
  right: 20%;
  width: 35px;
}

.element .curve {
  position: absolute;
  bottom: 10%;
  right: 7%;
  height: 25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.element .shape {
  position: absolute;
  height: auto;
}

.element .shape-1 {
  width: 100px;
  top: 10%;
  right: 8%;
}

.element .shape-2 {
  width: 90px;
  bottom: 15%;
  left: 4%;
}

.element .line {
  height: 5px;
  width: 30px;
  position: absolute;
  top: 40%;
  left: 8%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background-color: #ff9b32;
  border-radius: 10px;
}

.element .star {
  position: absolute;
  font-size: 1.2rem;
  color: rgba(17, 17, 17, 0.2);
}

.element .star-1 {
  top: 10%;
  left: 5%;
}

.element .star-2 {
  top: 33%;
  left: 8%;
}

.element .star-3 {
  bottom: 10%;
  left: 8%;
}

.element .star-4 {
  top: 15%;
  left: 37%;
}

.element .star-5 {
  top: 18%;
  left: 62%;
}

.element .star-6 {
  top: 23%;
  right: 17%;
}

.element .star-7 {
  top: 6%;
  right: 10%;
}

.element .star-8 {
  top: 35%;
  right: 4%;
}

.element .star-9 {
  bottom: 25%;
  right: 54%;
}

.element .star-10 {
  bottom: 16%;
  right: 32%;
}

.element .star-11 {
  bottom: 46%;
  left: 13%;
}

.element .circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
}

.element .circle-pink1 {
  top: -15%;
  left: -5%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.element .circle-pink2 {
  top: 50%;
  left: 60%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.element .circle-pink3 {
  top: 45%;
  left: 40%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.element .circle-blue1 {
  height: 60rem;
  width: 60rem;
  top: 15%;
  left: 3%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.05), transparent 80%);
}

.element .circle-blue2 {
  bottom: -15%;
  right: -5%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.05), transparent 80%);
}

.element .circle-blue3 {
  bottom: -5%;
  left: -5%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.06), rgba(0, 174, 239, 0.04), transparent 80%);
}

.element .circle-purple {
  top: -10%;
  right: -5%;
  background: radial-gradient(rgba(192, 74, 226, 0.1), rgba(192, 74, 226, 0.06), ba(#c04ae2, 0.04), transparent 80%);
}

.element .ring {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  left: 40%;
  border: 4px solid #00c6b5;
  background-color: transparent;
}

.element .square {
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: transparent;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.element .square-1 {
  top: 20%;
  right: 50%;
  border: 4px solid #ff6687;
}

.element .square-2 {
  top: 30%;
  right: 4%;
  border: 4px solid #ff9b32;
}

.element .triangle {
  position: absolute;
}

.element .triangle-1 {
  width: 15px;
  bottom: 31%;
  left: 6%;
}

.element .triangle-2 {
  width: 30px;
  bottom: 19%;
  right: 4%;
  opacity: 0.7;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.element .triangle-3 {
  width: 25px;
  top: 11%;
  right: 7.5%;
  opacity: 0.7;
  -webkit-transform: rotate(-57deg);
          transform: rotate(-57deg);
}

.element .arrow {
  position: absolute;
  width: 25px;
  bottom: 21%;
  left: 8.7%;
}

/********** Style Elements*********/
.about {
  min-height: 75rem;
  width: 100%;
  padding: 15rem 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .about {
    padding: 5rem 0;
  }
}

.about .styleelement {
  z-index: 1;
}

.about *:not(.styleelement) {
  z-index: 2;
}

.about-bg {
  position: absolute;
  z-index: -1 !important;
}

.about-bg1 {
  top: 35%;
  width: 60%;
  right: -10%;
  z-index: 1 !important;
}

@media screen and (max-width: 1023px) {
  .about-bg1 {
    width: 100%;
    right: 0;
  }
}

.about-bg2 {
  top: 60%;
  width: 85%;
  right: -5%;
}

@media screen and (max-width: 1023px) {
  .about-bg2 {
    width: 100%;
    right: 0;
  }
}

.about-bg3 {
  left: 0;
  top: 70%;
  z-index: -1;
  width: 80%;
}

@media screen and (max-width: 1023px) {
  .about-bg3 {
    width: 100%;
  }
}

.about .circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.about .circle-pink1 {
  top: -10%;
  right: -5%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.about .circle-pink2 {
  height: 600px;
  width: 600px;
  bottom: 5%;
  left: 25%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.about .circle-blue1 {
  top: 15%;
  left: 5%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.06), transparent 80%);
}

.about .shape {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 100px;
}

.about .curve {
  position: absolute;
  top: 250px;
  left: 8%;
  width: 14px;
}

@media screen and (max-width: 767px) {
  .about .curve {
    width: 8px;
  }
}

.about .zigzag {
  width: 35px;
  position: absolute;
  top: 8%;
  right: 2.5%;
}

.about .triangle {
  position: absolute;
  top: 750px;
  width: 25px;
  opacity: 0.4;
  right: 220px;
}

.about-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about-title {
    width: 80%;
  }
}

.about .business {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .about .business {
    max-width: 100%;
    padding: 0;
  }
}

.about .business .card {
  min-height: 33rem;
  max-width: 26rem;
  margin: 20px 10px;
  border-radius: 15px;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .about .business .card {
    min-height: 30rem;
    max-width: 24rem;
  }
}

.about .business .card.border-pink {
  border: 6px solid rgba(255, 102, 135, 0.4);
}

.about .business .card.border-green {
  border: 6px solid rgba(0, 198, 181, 0.4);
}

.about .business .card.border-orange {
  border: 6px solid rgba(255, 155, 50, 0.4);
}

.about .business .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.about .business .card-img {
  max-width: 60px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 767px) {
  .about .business .card-img {
    max-width: 45px;
  }
}

.about .business .card-title {
  font-size: 2.1rem;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .about .business .card-title {
    font-size: 2rem;
  }
}

.about .business .card-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #696969;
}

@media screen and (max-width: 767px) {
  .about .business .card-text {
    font-size: 1.3rem;
  }
}

.team {
  padding: 20px 0 10px;
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-left {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1023px) {
  .team-left {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team-left p {
  font-size: 1.4rem;
  color: #696969;
  margin: 5px 0;
  width: 80%;
}

.team-left p:first-of-type {
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .team-left p {
    text-align: left;
  }
}

.team-left .cta-btn2 {
  text-transform: uppercase;
  margin: 20px 0 0;
  font-size: 1.2rem;
}

.team-right {
  height: 420px;
  margin: 20px 0;
}

@media screen and (max-width: 1023px) {
  .team-right {
    height: 240px;
  }
}

.team-right .team-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.team-right .team-container .innovate {
  position: absolute;
  height: 26rem;
  width: 26rem;
  max-width: 100%;
}

@media screen and (max-width: 1023px) {
  .team-right .team-container .innovate {
    height: 18rem;
    width: 18rem;
  }
}

@media screen and (max-width: 480px) {
  .team-right .team-container .innovate {
    height: 14rem;
    width: 14rem;
  }
}

.team-right .team-container .innovate-1 {
  top: 0%;
  left: 40%;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}

.team-right .team-container .innovate-2 {
  bottom: 0%;
  left: 60%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
}

.team-right .team-container .shape {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 85%;
  left: 25%;
}

@media screen and (max-width: 1023px) {
  .team-right .team-container .shape {
    height: 3rem;
    width: 3rem;
    left: 40%;
  }
}

@media screen and (max-width: 480px) {
  .team-right .team-container .shape {
    left: 24%;
  }
}

/********** Trust End*********/
.service {
  min-height: 75rem;
  width: 100%;
  position: relative;
  z-index: 2 !important;
}

.service .shape {
  z-index: -1;
  position: absolute;
}

.service .shape-1 {
  top: 2%;
  left: 2%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.service .shape-2 {
  bottom: 0%;
  right: 9%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.service .zigzag {
  z-index: -1;
  position: absolute;
  max-width: 3.6rem;
}

.service .zigzag-1 {
  top: 40%;
  right: 8%;
}

.service .zigzag-2 {
  bottom: 6%;
  right: 15%;
}

.service .arrow {
  z-index: -1;
  position: absolute;
  top: 1.8%;
  left: 5%;
  height: 2.5rem;
  width: 2.5rem;
}

.service .ring {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 65%;
  left: 9%;
  border-radius: 50%;
  border: 4px solid orange;
}

.service .circle {
  height: 45rem;
  width: 45rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.service .circle-pink1 {
  top: 45%;
  left: 60%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.service .circle-pink2 {
  bottom: 5%;
  left: 5%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.service .circle-blue1 {
  top: 15%;
  left: 45%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.06), transparent 80%);
}

.service .circle-blue2 {
  bottom: 0%;
  left: 30%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.06), transparent 80%);
}

.service-main {
  margin: 8rem auto;
}

@media screen and (max-width: 767px) {
  .service-main {
    margin: 3rem auto;
  }
}

.service-title {
  width: 65%;
  margin: 0 auto;
  text-align: right;
}

@media screen and (max-width: 1023px) {
  .service-title {
    width: 100%;
    text-align: center;
  }
}

.service-title h3 {
  margin: 10px 0 0 auto;
  width: 80%;
}

@media screen and (max-width: 1023px) {
  .service-title h3 {
    width: 100%;
  }
}

.service-column {
  min-height: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .service-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 20rem;
  }
}

@media screen and (max-width: 767px) {
  .service-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service-column .card {
  margin: 1.2rem;
  width: 25rem;
  min-height: 32rem;
  border: 1px solid #fdfdfc;
  border-radius: 25px;
  background-color: #fdfdfc;
  -webkit-filter: drop-shadow(0px 10px 35px rgba(17, 17, 17, 0.05));
          filter: drop-shadow(0px 10px 35px rgba(17, 17, 17, 0.05));
}

.service-column .card-image {
  max-height: 6rem;
  width: 6rem;
  margin: 3rem 0;
}

.service-column .card-title {
  font-size: 2rem;
}

.service-column .card-text {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

.service-column .card .right-arrow {
  margin: 1rem 0 2rem;
  max-width: 3rem;
}

.work {
  min-height: 75rem;
  width: 100%;
  background-color: rgba(237, 241, 247, 0.8);
  position: relative;
  z-index: 1;
  padding: 10rem 0;
}

@media screen and (max-width: 767px) {
  .work {
    padding: 3rem 0;
  }
}

.work-element {
  z-index: -1;
}

.work-bg {
  z-index: -1;
  position: absolute;
}

.work-bg1 {
  height: 80%;
  width: 100%;
  top: 0%;
  left: 0;
}

.work-bg2 {
  height: 40%;
  width: 50%;
  bottom: 0;
  right: 0;
}

.work .shape {
  position: absolute;
  max-width: 10rem;
}

.work .shape-1 {
  top: 8%;
  left: 4%;
}

.work .shape-2 {
  bottom: 3rem;
  right: 4rem;
}

.work .square {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border: 4px solid;
}

.work .square-1 {
  top: 7.9%;
  left: 9.8%;
  border-color: #00aeef;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.work .square-2 {
  border-color: #03c403;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  top: 60%;
  left: 5%;
}

.work .triangle {
  position: absolute;
  max-width: 3rem;
  right: 8%;
  top: 40%;
}

.work .ring {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 5px solid #fd5c2b;
  right: 10rem;
  bottom: 9.8rem;
}

.work .circle {
  height: 38rem;
  width: 38rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.work .circle-pink1 {
  top: 5%;
  left: 4%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.work .circle-pink2 {
  bottom: 0%;
  right: 0%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.work .circle-blue1 {
  top: 15%;
  right: 0%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.06), transparent 80%);
}

.work .circle-purple1 {
  bottom: 30%;
  left: -2%;
  background: radial-gradient(rgba(192, 74, 226, 0.16), rgba(192, 74, 226, 0.08), transparent 80%);
}

.work-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  z-index: 200 !important;
}

.work-title h3 {
  margin: 20px 0;
}

@media screen and (max-width: 1023px) {
  .work-title {
    width: 100%;
  }
}

.work .problem-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  padding: 2rem 1rem;
}

.work .problem-image {
  height: auto;
  max-width: 28rem;
}

@media screen and (max-width: 767px) {
  .work .problem-image {
    max-width: 20rem;
  }
}

@media screen and (max-width: 767px) {
  .work .problem-main {
    text-align: center;
  }
}

.work .problem-main .problem-title {
  margin: 2rem 0;
  font-size: 1.9rem;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .work .problem-main .problem-title {
    font-size: 1.5rem;
  }
}

.work .problem-main .problem-title-pink {
  color: #ff6687;
}

.work .problem-main .problem-title-green {
  color: #00c6b5;
}

.work .problem-main .problem-title-orange {
  color: #ff9b32;
}

.work .problem-main h3 {
  font-weight: 800;
  margin: 1rem 0;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .work .problem-main h3 {
    font-size: 1.5rem;
  }
}

.work .problem-main p {
  font-size: 1.35rem;
  margin: 1rem 0;
}

.work .problem-main .cta-btn1 {
  padding: 0.8rem 2.5rem;
}

@media screen and (max-width: 767px) {
  .work .problem-main .cta-btn1 {
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
  }
}

.work .sub-text {
  text-align: center;
  margin: 5rem 0 0;
}

@media screen and (max-width: 767px) {
  .work .sub-text {
    margin: 5rem 0 0;
  }
}

.testimonial {
  min-height: 75rem;
  width: 100%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .testimonial {
    padding: 3rem 0 0;
  }
}

.testimonial .z-index-1 {
  z-index: -1;
}

.testimonial .circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
}

.testimonial .circle-pink1 {
  top: 15%;
  left: 5%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.testimonial .circle-blue1 {
  top: 30%;
  right: 10%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.05), transparent 80%);
}

.testimonial .arrow {
  position: absolute;
  max-width: 2.3rem;
  top: 9%;
  left: 15%;
}

.testimonial .shape {
  position: absolute;
  max-width: 8rem;
  top: 50%;
  left: 3%;
}

.testimonial .triangle {
  position: absolute;
  max-width: 3rem;
  top: 54.8%;
  left: 6.5%;
}

.testimonial .zigzag {
  position: absolute;
  max-width: 4rem;
  top: 68%;
  right: 15%;
}

.testimonial .square {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border: 4px solid #00aeef;
  bottom: -1rem;
  right: 15%;
  z-index: 1;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.testimonial-title {
  margin: 0 auto;
  padding-top: 10rem;
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .testimonial-title {
    padding-top: 2rem;
    width: 100%;
  }
}

.testimonial-team {
  min-height: 35rem;
}

.testimonial-team-shape {
  height: 3rem;
  width: 4rem;
}

.testimonial .person {
  height: 29rem;
  width: 20rem;
  margin: 1rem 0.8rem;
  padding: 1rem;
}

.testimonial .person-image {
  max-width: 19rem;
}

@media screen and (max-width: 767px) {
  .testimonial .person-image {
    max-width: 17rem;
  }
}

.testimonial .person-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 2rem auto 0.6rem;
}

@media screen and (max-width: 480px) {
  .testimonial .person-title {
    text-align: center;
  }
}

.testimonial .person-subtitle {
  font-size: 1.35rem;
  color: #808080a4;
  font-weight: 800;
}

@media screen and (max-width: 480px) {
  .testimonial .person-subtitle {
    text-align: center;
  }
}

.testimonial-content {
  min-height: 60rem;
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(237, 241, 247, 0.8)), color-stop(40%, transparent));
  background: linear-gradient(to top, rgba(237, 241, 247, 0.8), transparent 40%);
}

.testimonial-content > .row {
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 1rem;
}

.testimonial-content .testimonial-bg {
  z-index: -2;
  position: absolute;
}

.testimonial-content .testimonial-bg-1 {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.testimonial-content .testimonial-bg-2 {
  bottom: 0;
  right: 20rem;
  height: 40rem;
  width: 60rem;
}

.testimonial-content .testimonial-bg-3 {
  bottom: 0;
  right: 0;
  height: 40rem;
  width: 60rem;
}

.testimonial-content .testimonial-image {
  min-height: 45rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .testimonial-content .testimonial-image {
    min-height: 32rem;
  }
}

.testimonial-content .testimonial-image-1 {
  max-width: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .testimonial-content .testimonial-image-1 {
    max-width: 22rem;
  }
}

.testimonial-content .testimonial-image-2 {
  max-width: 18rem;
  position: absolute;
  top: 65%;
  left: calc(13% - 2rem);
}

@media screen and (max-width: 767px) {
  .testimonial-content .testimonial-image-2 {
    max-width: 13rem;
    left: 35%;
    -webkit-transform: translateX(-65%);
            transform: translateX(-65%);
  }
}

.testimonial-content .testimonial-main .blockquote {
  height: 100%;
  width: 100%;
  position: relative;
}

.testimonial-content .testimonial-main .blockquote-content {
  width: calc(100% - 8rem);
  margin-left: auto;
  padding-left: 1rem;
}

@media screen and (max-width: 767px) {
  .testimonial-content .testimonial-main .blockquote-content {
    width: 90%;
  }
}

.testimonial-content .testimonial-main .blockquote::after {
  z-index: 1;
  position: absolute;
  font-family: sans-serif;
  content: '‘‘';
  width: 8rem;
  text-align: center;
  color: #c5cae9;
  font-size: 11rem;
  font-weight: 800;
  top: -4.5rem;
  left: 0;
}

@media screen and (max-width: 767px) {
  .testimonial-content .testimonial-main .blockquote::after {
    width: 10%;
    top: -1.3rem;
    font-size: 3.5rem;
  }
}

.testimonial-content .testimonial-main .blockquote p {
  font-size: 1.7rem;
  margin: 1rem 0 3rem;
}

@media screen and (max-width: 480px) {
  .testimonial-content .testimonial-main .blockquote p {
    font-size: 1.5rem;
  }
}

.testimonial-content .testimonial-main .blockquote cite {
  position: relative;
  padding-left: 3rem;
  font-style: inherit;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 800;
}

@media screen and (max-width: 480px) {
  .testimonial-content .testimonial-main .blockquote cite {
    font-size: 1.5rem;
  }
}

.testimonial-content .testimonial-main .blockquote cite::before {
  position: absolute;
  content: '';
  height: 1px;
  border-radius: 5px;
  width: 1.3rem;
  background-color: #111111;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.testimonial-content .testimonial-main .blockquote cite span {
  margin: 0 1rem;
  font-weight: 600;
  color: #808080a4;
  font-size: 1.3rem;
}

@media screen and (max-width: 480px) {
  .testimonial-content .testimonial-main .blockquote cite span {
    margin: 0 0.2rem;
  }
}

.contact {
  min-height: 75rem;
  width: 100%;
  background-color: #fdfdfc;
  position: relative;
  padding: 10rem 0;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 4rem 0 3rem;
  }
}

.contact .z-index-1 {
  z-index: -1;
}

.contact-bg {
  position: absolute;
  right: 0;
  width: 60%;
  height: 60%;
  top: 60%;
  right: -1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact .circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
}

.contact .circle-pink1 {
  top: 20%;
  left: 10%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.05), transparent 80%);
}

.contact .circle-blue1 {
  top: 60%;
  left: 12%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.05), transparent 80%);
}

.contact .zigzag {
  position: absolute;
  bottom: 16%;
  right: 9%;
  max-width: 3rem;
}

.contact .shape {
  position: absolute;
  bottom: 10%;
  max-width: 10rem;
  right: 5%;
}

.contact .triangle {
  position: absolute;
  max-width: 2.5rem;
  top: 40%;
  left: 5%;
}

.contact-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .contact-title {
    width: 100%;
  }
}

.contact-content {
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content-left {
  margin: 2rem 0;
}

@media screen and (max-width: 767px) {
  .contact-content-left {
    text-align: center;
  }
}

.contact-content-left h3 {
  font-size: 3rem;
  font-weight: 800;
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  .contact-content-left h3 {
    font-size: 2rem;
  }
}

.contact-content-left .input-element {
  display: inline-block;
  margin: 2rem 0;
  width: 80%;
  border: none;
  resize: none;
  padding: 1rem 2rem;
  min-height: 4rem;
  -webkit-filter: drop-shadow(0 0 5px rgba(17, 17, 17, 0.1));
          filter: drop-shadow(0 0 5px rgba(17, 17, 17, 0.1));
  font-size: 1.5rem;
  color: #808080a4;
}

.contact-content-left .input-element::-webkit-input-placeholder {
  background-color: #fdfdfc;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #808080a4;
}

.contact-content-left .input-element:-ms-input-placeholder {
  background-color: #fdfdfc;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #808080a4;
}

.contact-content-left .input-element::-ms-input-placeholder {
  background-color: #fdfdfc;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #808080a4;
}

.contact-content-left .input-element::placeholder {
  background-color: #fdfdfc;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: #808080a4;
}

.contact-content-left textarea {
  height: 12rem;
}

.contact-content-left .cta-btn2 {
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

.contact-content-right {
  margin: 2rem 0;
}

.contact-content-right .contact-main {
  padding: 0 2rem;
}

.contact-content-right .contact-main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

.contact-content-right .contact-main-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content-right .contact-main-icon i {
  font-size: 1rem;
  color: #fdfdfc;
}

.contact-content-right .contact-main-icon-1 {
  background-color: #ff6687;
}

.contact-content-right .contact-main-icon-2 {
  background-color: #00c6b5;
}

.contact-content-right .contact-main-icon-3 {
  background-color: #ff9b32;
}

.contact-content-right .contact-main-text {
  width: 40%;
  height: 3rem;
}

@media screen and (max-width: 1023px) {
  .contact-content-right .contact-main-text {
    width: 100%;
  }
}

.contact-content-right .contact-main-text h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.contact-content-right .contact-main-text p {
  font-size: 1.2rem;
}

.contact-content-right p {
  font-size: 1.5rem;
}

.blog {
  min-height: 50rem;
  width: 100%;
  background-color: rgba(237, 238, 246, 0.85);
  position: relative;
  padding: 9rem 0;
  z-index: 1;
}

.blog .z-index-1 {
  z-index: -1;
}

.blog .circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
}

.blog .circle-pink1 {
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.blog .circle-pink2 {
  top: 45%;
  left: 70%;
  background: radial-gradient(rgba(255, 102, 135, 0.1), rgba(255, 102, 135, 0.06), rgba(255, 102, 135, 0.04), transparent 80%);
}

.blog .circle-blue1 {
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.05), transparent 80%);
}

.blog .circle-blue2 {
  top: 50%;
  left: 10%;
  background: radial-gradient(rgba(0, 174, 239, 0.1), rgba(0, 174, 239, 0.05), transparent 80%);
}

.blog .arrow {
  position: absolute;
  max-width: 2.3rem;
  top: 65%;
  left: 3%;
}

.blog .triangle {
  position: absolute;
  max-width: 3rem;
  top: 44%;
  right: 6.5%;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}

.blog .zigzag {
  position: absolute;
  max-width: 4rem;
  top: 15%;
  left: 6%;
}

.blog .square {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border: 4px solid #00c6b5;
  bottom: -1rem;
  right: 15%;
  z-index: -1;
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.blog .curve {
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 1rem;
}

.blog-title {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .blog-title {
    width: 95%;
  }
}

.blog-title-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .blog-title-sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blog-title-sub h3 {
  width: calc(100% - 7rem);
}

@media screen and (max-width: 480px) {
  .blog-title-sub h3 {
    width: 100%;
    margin: 1rem 0;
  }
}

.blog-title-sub .sub-title {
  width: 6.7rem;
  margin: 1rem 0;
}

@media screen and (max-width: 480px) {
  .blog-title-sub .sub-title {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.blog-content {
  min-height: 40rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.blog-card {
  cursor: pointer;
  border-radius: 2rem;
  margin: 1rem;
  padding: 2.5rem 2rem;
  min-height: 27rem;
  max-width: 27rem;
  background-color: transparent;
  border: 1px solid rgba(105, 105, 105, 0.2);
}

.blog-card.active, .blog-card:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: white;
  background-color: #fff;
}

.blog-card-title {
  font-size: 1.3rem;
  font-weight: 800;
}

.blog-card-title-pink {
  color: #ff6687;
}

.blog-card-title-green {
  color: #00c6b5;
}

.blog-card-title-orange {
  color: #ff9b32;
}

.blog-card-subtitle {
  font-size: 1.5rem 0.1rem;
  font-weight: 800;
  margin: 1rem 0;
}

.blog-card-text {
  margin: 2rem 0;
  font-size: 1.25rem;
}

.blog-card-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-card-sub-image img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.blog-card-sub-image span {
  margin: auto 5px;
  font-weight: 800;
  font-size: 1.35rem;
}

.blog-card-sub-icon span {
  margin: 0 2px;
  font-size: 1.2rem;
  color: #808080a4;
}

.footer {
  min-height: 45rem;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
