.hero-left .cta-btn2 {
  display: inline-block;
  width: 200px;
  padding: 10px 20px;
  color: #fdfdfc;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: rgba(192, 74, 226, 0.9);
  -webkit-box-shadow: 0 2px 5px 1px rgba(17, 17, 17, 0.2);
          box-shadow: 0 2px 5px 1px rgba(17, 17, 17, 0.2);
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.hero-left .cta-btn2:hover {
  background-color: #c04ae2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 10px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  height: 100%;
  width: 100%;
  position: relative;
}

.header .navbar {
  padding: 10px;
}

.header .navbar > .container {
  width: 920px;
}

.header .navbar-brand img {
  height: 26px;
}

.header .navbar-toggler {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .navbar-toggler-icon {
  font-size: 1.8rem;
}

.header .nav-item {
  padding: 10px;
}

.header .nav-link {
  text-align: center;
  color: #111111;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5rem;
}

.header .nav-link:not(.active) {
  color: #111111;
}

.header .cta-btn1 {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 5px 20px 4px;
  border-radius: 5px;
  border: 2px solid #c04ae2;
  font-weight: 800;
  color: #111111;
}

.header .icons {
  margin: auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .icons-item {
  margin: 0 8px;
}

.header .icons-link {
  color: #111111;
}

.header .icons-link .fab {
  font-size: 1.5rem;
}

.header .icons-link .fab.fb {
  color: #3b5998;
}

.header .icons-link .fab.tw {
  color: #1da1f2;
}

.header .icons-link .fab.yt {
  color: #ff1e00;
}

.header .icons-link .fab.ig {
  color: #e16353;
}

.hero {
  min-height: 100vh;
  width: 100%;
  background: rgba(235, 234, 250, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero > div {
  z-index: 3;
}

.hero-left {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-left h1 {
  font-size: 7rem;
  font-weight: 800;
}

.hero-left p {
  font-size: 2rem;
  color: dimgray;
  margin: 10px 0 20px;
}

@media screen and (max-width: 770px) {
  .hero-right img {
    max-height: 200px;
  }
}

.about {
  height: 100vh;
  width: 100%;
  background-color: pink;
}
